#!/usr/bin/env bash

LOGGER_VERSION="latest"
LOGGER_CONFIG_PATH="./"
LOGGER_HOST="172.28.0.2"
LOGGER_PORT=24224
LOGGER_LEVEL="info"

# Write logs to DB
LOGGING_ENABLED="false"

POSTGRES_USER="postgres"
POSTGRES_PASSWORD="fieldsets"
POSTGRES_HOST="172.28.0.7"
POSTGRES_PORT=5432
POSTGRES_DB="fieldsets"

FIELDSETS_NETWORK_SUBNET="172.28.0.0/24"
